%h1= @post.title
.content
  = simple_format @post.body
%p.meta Posted by #{@post.user.username}

- if current_user
  %h6 Post a comment ...
  = simple_form_for [@post, @addendum] do |f|
    = f.input :body
    = f.submit

#post_addendums
  = render @post.addendums
